extends layout

block body
      div.box
      
            a(class='btn' href='/') глав. страница          
            h2= title
            div.items

            button#checkout Оформить заказ
            button#clear_cart Очистить корзину


            div#cart_content     
      script(src="/busket.js") 