doctype html
html(lang='zxx')
    head
        title Главная страница
        link(rel="stylesheet" href="style.css")
        meta(charset="utf-8")
        <meta name="viewport" content="">
    body
        h1 Главная <br> страница
        block body 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quam quia fugit dolores nobis, sequi rerum? Atque perferendis voluptates odio veniam error! Repellendus blanditiis adipisci velit. Officiis temporibus sunt aliquid?