body {
  margin: 0;
  background: url("/image/bg.jpg");
  background-position: center center;
  background-size: auto;
  color: #000;
  font-family: 'Chakra Petch', sans-serif;
  height: 100%;
}
h1 {
  color: #5d02ff;
  text-align: center;
  font-size: 30px;
}
h2 {
  color: #5d02ff;
  text-align: center;
  font-size: 30px;
}
h1 {
  color: #9c58ce;
  text-align: center;
}
.box {
  max-width: 1000px;
  margin: auto;
}
.items {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border-radius: 10px;
}
.item {
  width: calc(100% / 3 - 20px);
  font-size: 15px;
  margin: 10px;
  text-align: center;
  margin-bottom: 32px;
}
.img {
  max-width: 100%;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.img:hover {
  opacity: 0.8;
}
.cat {
  opacity: 0.7;
}
.name {
  margin-top: 24px;
  margin-bottom: 12px;
  min-height: 2em;
}
.brand {
  margin: 10px 0;
  opacity: 0.7;
  margin-top: 0;
}
.price {
  font-size: 18px;
  margin-bottom: 12px;
}
.buy {
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #5d02ff;
  border: #5d02ff 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  transition: 0.3s;
  box-shadow: inset 0 0 0.5em 0 #5d02ff, 0 0 0.5em 0 #5d02ff;
  position: relative;
}
.buy::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: #5d02ff;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1.5em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
  transition: 0.3s;
}
.buy::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em #5d02ff;
  opacity: 0;
  background-color: #5d02ff;
  z-index: -1;
  transition: opacity 100ms linear;
}
.buy:hover,
.buy:focus {
  color: #5d02ff;
  text-shadow: none;
}
.buy:hover::before,
.buy:focus::before {
  opacity: 1;
}
.buy:hover::after,
.buy:focus::after {
  opacity: 1;
}
.basket {
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  border: #5d02ff 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  transition: 0.3s;
  text-shadow: 0 0 0.125em #fff, 0 0 0.45em currentColor;
  position: absolute;
  left: 71%;
}
.basket::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 100ms linear;
}
.basket:hover,
.basket:focus {
  color: #5d02ff;
  text-shadow: none;
}
.basket:hover::before,
.basket:focus::before {
  opacity: 1;
}
.basket:hover::after,
.basket:focus::after {
  opacity: 1;
}
.wrapper-header {
  width: 100%;
  height: 60px;
  border-bottom: 1px #5d02ff;
  box-shadow: 0 0 10px #5d02ff;
  margin-bottom: 40px;
}
.header {
  height: 100%;
  max-width: 900px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper-logo {
  width: 120px;
}
.logo {
  width: 55px;
  height: 55px;
/*background-color: #FFEC00;*/
  background-image: url("../img/logo.jpg");
  background-size: cover;
  background-position: center;
}
.topnav-link {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  transition: 0.3s;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
}
.topnav-link:after,
.topnav-link:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 0%;
  height: 2px;
  background-color: #5d02ff;
  transition: 0.3s;
}
.topnav-link:after {
  right: 0;
  left: auto;
}
@media screen and (pointer: fine) {
  .topnav-link:hover::after,
  .topnav-link:hover:before {
    width: 50%;
  }
}
.topnav {
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 260px);
}
.header-phone {
  text-decoration: none;
  color: #fff;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;
  transition: all 0.5s ease;
  border-radius: 0 0 0 0;
}
.sidebar-logo {
  width: 50px;
  height: 50px;
  background-size: cover;
}
.sidebar.close {
  width: 78px;
}
.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i {
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links {
  height: 100%;
  padding: 70px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links {
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}
.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover {
  background: #1d1b31;
}
.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link {
  display: block;
}
.sidebar .nav-links li i {
  height: 40px;
  min-width: 80px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow {
  display: none;
}
.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}
.sidebar .nav-links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}
.link_name {
  padding: 0 0 0 10px;
}
.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details {
  background: none;
}
.sidebar.close .profile-details {
  width: 78px;
}
.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center;
}
.sidebar .profile-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img {
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
  display: none;
}
.sidebar .profile-details .job {
  font-size: 12px;
}
.home-section {
  position: relative;
  background: #e4e9f7;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content {
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #fff;
  font-size: 35px;
}
.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
}
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  display: none;
  opacity: 0;
}
.modal {
  width: 850px;
  height: 850px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  transform: translateY(-20px);
  transition: 0.3s;
  z-index: 1000;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.modal-img {
  width: 450px;
  height: 450px;
}
@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }
}
#addProduct {
  border-radius: 10px;
  padding: 50px;
  background-color: rgba(255,255,255,0.45);
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0.5em 0 #5d02ff, 0 0 0.5em 0 #5d02ff;
}
#border-radius-css {
  border: none;
  margin: 10px 3%;
  border-radius: 10px;
  padding: 3px;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.1);
}
#buttoncssadd {
  margin: 10px 3%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  padding: 3px;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.1);
  border-radius: 2px;
}
#hcss {
  font-family: 'Chakra Petch';
  position: center;
  margin-top: 60px;
  height: 100%;
  text-align: center;
  font-size: 30px;
}
.nameForCss {
  color: #fff;
  text-shadow: 0px 1.5px 0px #000;
}
#noNamecss {
  color: transparent;
}
#noNamecss::-webkit-file-upload-button {
  visibility: hidden;
}
#noNamecss::before {
  content: 'Файл не выбран';
  color: #000;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
}
#noNamecss:hover::before {
  border-color: #000;
}
#noNamecss:active {
  outline: 0;
}
#noNamecss:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

